:root {
    --primary: #000833;
    --secondary: #CCD4FF;
    --Accent: #667DFF;
    --white: #fff;
    --black: #000;
    --blue: #000068;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    direction: rtl;
}

.main-card {
    background-color: var(--secondary);
    color: var(--black);
    border-radius: 30px;
}

.btn-main {
    border-radius: 5px;
    padding: 8px 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: var(--blue);
    border: var(--white) 1px solid;
    color: var(--white);
    text-decoration: none;
    transition: .3s;

    .img-dash {
        width: 25px;
    }

}

.btn-main:hover {
    border-radius: 4px;
    transition: .3s;
}

.font-lg {
    font-size: 2rem;
}

.font-md {
    font-size: 1.7rem;
}


body {
    font-family: "Almarai", sans-serif;
    font-style: normal;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start nav */
header {
    width: 100%;
    display: flex;
    justify-content: center;

    .navbar {
        /* position: fixed; */
        width: 80%;
        border-radius: 50px;
        margin-top: 25px;
        position: fixed;
        z-index: 100;
        transition: 0.3s ease, padding 0.3s ease;
        background-color: var(--primary);
        backdrop-filter: blur(10px);
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        width: 60px;
    }


    @media (min-width:320px) and (max-width:575px) {
        .navbar {
            padding: 5px;
        }

        .btn-main {
            font-size: .7rem;
            padding: 10px 15px;

            .img-dash {
                width: 15px;
            }
        }
    }
}

/* end nav */
/* start hero */
.hero {
    .carousel-caption {
        position: absolute;
        background: linear-gradient(to right, #0026ff3f, #667dff2d, rgba(255, 255, 255, 0.171), rgba(255, 255, 255, 0.215));
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        color: white;
        padding: 0 0 20px 0rem;
        text-align: center;
        z-index: 1;
    }

    h1 {
        color: var(--black);
        direction: rtl;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }

    .hero {
        height: 100vh;
        overflow: hidden;
    }

    .hero .carousel,
    .hero .carousel-inner,
    .hero .carousel-item {
        height: 100%;
    }

    .hero .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 337px;
    }

    .img-carosel {
        width: 100%;
    }

    @media (max-width:1124px) {
        .img-carosel {
            width: auto;
        }
    }

}

/* end hero
/* start about . about-2 */
.about,
.about-2 {
    p {
        color: gray;
    }

    .image-box {
        position: relative;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }

    .image-box img {
        position: absolute;
        width: 65%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .img-top-left {
        top: 0;
        left: 0;
    }

    .img-bottom-right {
        bottom: 0;
        right: 0;
    }

    .card {
        width: 100%;
        height: 200px;
        border: 2px solid #ccc;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s ease;
        border: 1px transparent solid;
    }

    .card:hover {
        border: 1px solid black;
    }

    .card-1:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    }

    .card-1 img {
        transition: transform 0.3s ease;
    }

    .card-1:hover img {
        animation: rotateImage .5s infinite alternate ease-in-out;
    }

    .card-2:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    }

    .card-2 img {
        transition: transform 0.3s ease;
    }

    .card-2:hover img {
        animation: rotateImage2 .5s infinite alternate ease-in-out;
    }

}

@keyframes rotateImage {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(-45deg);
    }
}

@keyframes rotateImage2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* end about , about-2 */
/* start skils */
.skils {
    h2 {
        direction: rtl;
    }

    .main-card h2 {
        margin: 0;
    }

    .main-card {
        border: 1px solid transparent;
        transition: .3s;
    }

    .main-card:hover {
        border: 1px solid black;
        transition: .3s;
    }

    .card-bg:hover{
        background-color: var(--primary);
        color: var(--white);

    }

    .icon-img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .hover-card img {
        transition: transform 0.3s ease;
    }

    .hover-card:hover img {
        animation: rotateImage .5s infinite alternate ease-in-out;
    }
}

/* end skils */
/* start msq */
.msq {

    .main-card {
        background-color: var(--white);
        border: 1px solid var(--blue);
        border-right: solid 5px var(--blue);
        border-radius: 5px;
    }

    .icon-img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
    }

    h3 {
        direction: rtl;
        text-align: start;
    }

    .card-bg:hover{
        background-color: var(--blue);
        color: var(--white);
    }
}

/* end msq */
footer {
    background-image: url(../../public/img-footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    overflow: hidden;

    .bg {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        background: linear-gradient(to right,
                #0019a9,
                rgba(168, 168, 168, 0.812));
        background-blend-mode: overlay;
        padding-bottom: 2rem;
        height: 100%;
    }

    .icon-img {
        width: 30px;
        height: 30px;
        /* object-fit: contain; */
    }

    .logo {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    li:hover{
        color: var(--blue);
    }
}



/* end slider */